{% extends 'layouts/base.twig' %}

{% block base %}

<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    {# favicon #}

    <title></title>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    <link rel="stylesheet" href="{{ base_url() }}/assets/css/main.css">

    {# analytics #}
    {% if app.settings.mode == 'prod' %}
    {% endif %}
  </head>
  <body class="page-id-{{ routeId }}">

    {% include 'components/nav.twig' %}

    <div id="page-container">
      {% block content %}
      {% endblock %}
    </div>

    {# shared data #}
    <script>
      var app = {
        debug: {{ app.settings.debug ? 'true' : 'false' }},
        mode: "{{ app.settings.mode }}",
        baseUrl: "{{ base_url() }}",
        rootUri: "{{ app.request.getRootUri() }}"
      };
    </script>

    {# app #}
    <script src="{{ base_url() }}/assets/js/scripts.js"></script>

  </body>
</html>

{% endblock %}

